<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proton - Admin Template</title>

    <!-- Import google fonts - Heading first/ text second -->
    {#        <link rel='stylesheet' type='text/css' href='http://fonts.useso.com/css?family=Open+Sans:400,700|Droid+Sans:400,700' />#}
    <!--[if lt IE 9]>
<link href="http://fonts.useso.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css" />
<link href="http://fonts.useso.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css" />
<link href="http://fonts.useso.com/css?family=Droid+Sans:400" rel="stylesheet" type="text/css" />
<link href="http://fonts.useso.com/css?family=Droid+Sans:700" rel="stylesheet" type="text/css" />
<![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/static/assets/ico/favicon.ico" type="image/x-icon"/>

    <!-- Css files -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/css/jquery.mmenu.css" rel="stylesheet">
    <link href="/static/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <link href="/static/assets/css/style.min.css" rel="stylesheet">
    <link href="/static/assets/css/add-ons.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->




<!-- start: JavaScript-->
<!--[if !IE]>-->

<script src="/static/assets/js/jquery-2.1.1.min.js"></script>

<!--<![endif]-->

<!--[if IE]>

		<script src="/static/assets/js/jquery-1.11.1.min.js"></script>

	<![endif]-->

<!--[if !IE]>-->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/static/assets/js/jquery-2.1.1.min.js'>" + "<" + "/script>");
</script>

<!--<![endif]-->

<!--[if IE]>

		<script type="text/javascript">
	 	window.jQuery || document.write("<script src='/static/assets/js/jquery-1.11.1.min.js'>"+"<"+"/script>");
		</script>

	<![endif]-->
<script src="/static/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>


<!-- page scripts -->
<script src="/static/assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
<script src="/static/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables/js/dataTables.bootstrap.min.js"></script>

<!-- theme scripts -->
<script src="/static/assets/js/SmoothScroll.js"></script>
<script src="/static/assets/js/jquery.mmenu.min.js"></script>
<script src="/static/assets/js/core.min.js"></script>

<!-- inline scripts related to this page -->
<script src="/static/assets/js/pages/table.js"></script>

<!-- end: JavaScript-->

</head>
</head>


<body class="">

<!-- start: Header -->
	<div class="navbar" role="navigation">

		<div class="container-fluid">

			<ul class="nav navbar-nav navbar-actions navbar-left">
				<li class="visible-md visible-lg"><a href="/table/" id="main-menu-toggle"><i class="fa fa-th-large"></i></a></li>
				<li class="visible-xs visible-sm"><a href="/table" id="sidebar-menu"><i class="fa fa-navicon"></i></a></li>
			</ul>

			<form action="/search_machine/" method="post" class="navbar-form navbar-left">
				<button type="submit"  class="fa fa-search"></button>
				<input type="text" name="machinesn" class="form-control" placeholder="Search by SN..."></a>
			</form>

	        <ul class="nav navbar-nav navbar-right">

                <li><a href="/user_set/"><i class="fa fa-cog"></i></a></li>

				<li class="dropdown visible-md visible-lg">
	        		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="user-avatar" src="/static/assets/img/avatar.jpg" alt="user-mail">{{ username }}</a>
	        		<ul class="dropdown-menu">
						<li class="dropdown-menu-header">
							<strong>Account</strong>
						</li>
						<li><a href="/login/"><i class="fa fa-user"></i> 登录</a></li>
{#						<li><a href="page-login.html"><i class="fa fa-wrench"></i> </a></li>#}
{#						<li><a href="page-invoice.html"><i class="fa fa-usd"></i> Payments <span class="label label-default">10</span></a></li>#}
						<li><a href="/user_set/"><i class="fa fa-cog"></i> 账户管理 </a></li>
{#						<li class="divider"></li>#}
						<li><a href="/logout/"><i class="fa fa-sign-out"></i> 注销</a></li>
	        		</ul>
	      		</li>
				<li><a href="/logout/"><i class="fa fa-power-off"></i></a></li>
			</ul>

		</div>

	</div>
	<!-- end: Header -->
<div class="sidebar  mm-menu mm-horizontal mm-offcanvas"><div class="sidebar-collapse mm-panel mm-opened mm-current" id="mm-0">
					<div class="sidebar-header t-center">
                        <span><img class="text-logo" src="/static/assets/img/logo1.png"><i class="fa fa-space-shuttle fa-3x blue"></i></span>
                    </div>
					<div class="sidebar-menu opened" style="height: 233px;">
						<ul class="nav nav-sidebar">
							<li class="active opened"><a href="/"><i class="fa fa-code-fork"></i><span class="text"> 主页</span></a></li>
							<li>
								<a href="#"><i class="fa fa-laptop"></i><span class="text"> 我的设备</span> <span class="fa fa-angle-down pull-right"></span></a>
								<ul class="nav sub">
                                    <li><a href="/table/"><i class="fa fa-table"></i><span class="text"> 设备管理</span></a></li>
                                    <li><a href="/warning_history/"><i class="fa fa-bell"></i><span class="text"> 报警历史</span></a></li>
								</ul>
							</li>
                            <li>
								<a href="#"><i class="fa fa-comment"></i><span class="text"> 通知组</span> <span class="fa fa-angle-down pull-right"></span></a>
								<ul class="nav sub">
                                    <li><a href="/developer/"><i class="fa fa-eye"></i><span class="text"> 作者信息</span></a></li>
								</ul>
							</li>
                            <li><a href="/user_set/"><i class="fa fa-cog"></i><span class="text"> 设置</span></a></li>

                            <li><a href="/logout/"><i class="fa fa-power-off"></i><span class="text"> 退出登录</span></a></li>





{#-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------#}



{#                                                                                                                       以上为我们所用的                  #}





                        </ul>
                    </div>




				</div>


   <div class="sidebar-footer drop-shadow mm-panel mm-hidden" id="mm-1">





				</div></div>

	<div class="container-fluid content mm-page" style="min-height: 433px;">


<div class="row">

    <!-- start: Main Menu -->

    <!-- end: Main Menu -->

    <!-- start: Content -->
    {#表格#}
    <div class="main sidebar-minified" style="min-height: 540px;">

        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-table"></i>报警历史</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/">Home</a></li>
                    <li><i class="fa fa-table"></i><a href="/table/">设备管理</a></li>
                    <li><i class="fa fa-table"></i>报警历史</li>
                </ol>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><i class="fa fa-table red"></i><span class="break"></span><strong>报警设备列表</strong></h2>
                        <div class="panel-actions">
                            <a href="table.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                            <a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                            <a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body" style="display: block;">
                    <p id="test"></p>
                        <table id="machine_table" class="table table-striped table-bordered bootstrap-datatable datatable">
                            <thead>
                            <tr>
                                <th class="hidden">id</th>
                                <th>SN</th>
                                <th>报警</th>
                                <th>时间</th>
{#                                <th>操作</th>#}
                            </tr>
                            </thead>
                            <tbody>
{#                            {% for warning in warning_list %}#}
                                <tr>
{#                                    <td class="hidden">{{ warning.machine.id }}</td>#}
{#                                    <td>{{ warning.machine.SN }}</td>#}
{#                                    <td>{{ warning.history_warning }}</td>#}
{#                                    <td>{{ warning.warning_change_time }}</td>#}
{##}
{#                                    <td>#}
{#                                        <a class="btn btn-success" id='detail_button'#}
{#                                           href="/detail/?machineid={{ warning.machine.id }}">#}
{#                                            <i class="fa fa-search-plus "></i>#}
{#                                        </a>#}
{#                                    </td>#}
                                </tr>
{#                            {% endfor %}#}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!--/col-->
        </div>
    </div>
<script>
        $(document).ready(function () {
            setInterval("reload_history_warning_table()",1000);
        });


       function reload_history_warning_table ()
        {
            $.ajax(
                {
                    url:"/ajax_warning/",
                    type:"GET",
                    dataType:"JSON",
                    success: function (data) {
                            $("#machine_table").children("tbody").empty()
                        var htmlstr = ""
                        //alert(data.warning_list[0].SN)
                        for(var i=0 ; i< data.warning_list.length; i++)
                        {
                            htmlstr = htmlstr + "<tr>" +
                            "<td class='hidden'>" + data.warning_list[i].id + "</td>" +
                            "<td>" + data.warning_list[i].SN + "</td>" +
                            "<td>" + data.warning_list[i].history_warning + "</td>" +
                            "<td>" + data.warning_list[i].warning_change_time + "</td>" +
{#                            "<td>" + "<a class='btn btn-success'id='detail_button' href='/detail/?machineid=" + data.warning_list[i].id + "' > <i class='fa fa-search-plus '></i> </a>" +" "+#}
{#                            "</td>" +#}
                            "</tr>"
                        }
                        $("#machine_table").children("tbody").html(htmlstr);

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                           alert("数据错误");
                    }
                }
            )
        }
</script>

    <!--/row-->

</div>
<!-- end: Content -->
<br><br><br>




</div><!--/container-->


<div class="modal fade" id="myModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Here settings can be configured...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="clearfix"></div>



</div></div>
<div id="mm-blocker"></div>
</div>
<!-- start: Header -->

<!-- end: Header -->


<div id="mm-blocker"></div>



</body>
</html>